<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>COME ON .... Let's Choose The Best!</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{%url 'signin'%}">Rate Movies</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <!-- <li class="nav-item"><a class="nav-link" href="">Logout</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="{%url 'signin'%}">Log In</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'register'%}">Register</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li> -->

                        


                    </ul>
                </div>
            </div>
        </nav>


        <header class="masthead text-center text-dark">
            
            <!-- <img src="https://wallpaperaccess.com/full/3230166.jpg" alt="" width="ms-auto" height="1000px"> -->
            <div class="masthead-content">
                <div class="container px-5" >
                    <h1 class="masthead-heading mb-0 "><strong> COME ON.....</strong> </h1>
                    <h1 class="masthead-heading mb-0 "><strong> COME ON.....</strong> </h1>

                    <h2 class="masthead-subheading mb-0">Let's <strong>CHOOSE </strong>The <strong>BEST </strong></h2>
                    <h3 class="masthead-subheading mb-0"><strong>MOVIE  !</strong></h3>

                    
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{%url 'movie-lista'%}">Learn More</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/helen-anna-ben.jpg?itok=lNkCOGpR" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4"><strong>Helen</strong></h2><h3>(Malayalam)</h3>
                            <p>Helen is a typical family film from the Vineeth Sreenivasan school of filmmaking which is enjoyable and empathetic. The feel-good movie, though a survival drama, would definitely bring a smile to the faces as the curtains come down</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://www.bollywoodhungama.com/wp-content/uploads/2022/12/Shah-Rukh-Khan-gears-up-for-Pathaan-with-new-thrilling-poster-featuring-Deepika-Padukone-and-John-Abraham-asks-fans-%E2%80%98Peti-baandh-li-hai.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4"><strong>Pathaan</strong ></h2><h3>(Hindi)</h3>
                            <p>The film is about Pathaan, an exiled RAW agent, who must work with ISI agent Rubina to take down Jim, a former RAW agent-turned-traitor, who is planning to spread a deadly lab-generated virus across India.Pathaan broke several box-office opening records for a Hindi film. Globally, it became the first Hindi film to gross ₹100 crore (US$13 million) on its first day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://image.tmdb.org/t/p/w500/r7HEBkkRN93d3eFBZgPJfRaob5p.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4"><strong>Dont Breathe 2</strong></h2><h3>(English)</h3>
                            <p>Blind veteran Norman Nordstrom has been hiding out for several years in an isolated cabin. He lives with a young girl and has recreated the family stolen from him by a drunken driver. Their quiet life together is soon shattered when a group of unseemly criminals kidnaps her. Norman is now forced to tap into even darker and more creative instincts in an effort to save her.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>